h1 {
    text-transform: uppercase;
}

h2 {
    font-size: $fs24;
    text-transform: uppercase;
    font-weight: $fsbold;
}

h3 {
    text-transform: uppercase;
}

p {
    font-size: $fs16;
    font-weight: $fslight;
}

span{
    font-size: $fs20;
}