// fuentes

$font-lato: "Lato", sans-serif;

// colores

$adl: #729E2E;
$grey: #404040;
$lightblue: #52c7e4;
$white: #ffffff;
$black: #000000;
$orange: #DC4A25;
$blue: #136DB0;
$pink: #C76395;
$yellow: #E8D44D;
$purple: #8512F6;
$green: #3EB27F;
$bg:#212429;

// tamaño fuentes

$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs24: 24px;
$fs28: 28px;
$fs32: 32px;

// estilo fuentes

$fsbold: bold;
$fsitalic: italic;
$fsupper: uppercase;
$fslight: 300;

// espaciado

$sp5: 5px;
$sp10: 10px;
$sp15: 15px;
$sp20: 20px;
$sp25: 25px;