body {
    background-color: $bg;
}

.about {

    color: $white;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__container-image {
        padding: $sp20;
        text-align: center;
    }

    &__container-image img {
        width: 80%;
        border-radius: 5%;
    }

    &__container-text {
        padding: $sp20;
    }
}

.featured {

    color: $white;

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}

.testimonials {

    color: $white;

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__container-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .testimonials__text{
        font-weight: $fslight;
        font-style: $fsitalic;
    }

    .testimonials__image{
        width: 25%;
        padding: $sp20 0;
        border-radius: 50%;
    }
    
    .testimonials__author{
        padding-bottom: $sp20;
    }
}

.contact {

    color: $white;

    &__container {
        display: flex;
        // align-items: center;
    }

    &__container-form {
        color: $black;
    }

    .form-check-label {
        color: $white;
        text-decoration: underline;
    }

    &__container-list i {
        font-size: $fs24;
    }

    &__container-list ul, a {
        color: white;
        list-style: none;
        text-decoration: none;
        padding: 0 $sp15;
        font-size: $fs18;
    }

    &__container-list li{
        padding: $sp15 0;
    }

}